

@{
    ViewData["Title"] = "Index";
   // Layout = "~/Views/Shared/_AdminLayout.cshtml";
 //   Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

@model IEnumerable<Employee>
<link rel="stylesheet" type="text/css" href="~/adminassets/css/pagin-btn-create.css" />

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @if (item.Status == 0)
                    {
                        <span> <img src="~/adminassets/images/status/inactive.png" width="10" height="10"/> Không hoạt động</span>
                    }
                    else if (item.Status == 1) 
                    {
                        <span><img src="~/adminassets/images/status/active.png" width="10" height="10" /> &nbsp; Hoạt động</span>
                    }                
                   </td>
                <td> 
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId"><img src="~/adminassets/images/button/edit.png" alt="Edit" width="16" height="16" /></a>
@*                     &nbsp; <a asp-action="Delete" asp-route-id="@item.EmployeeId"><img src="~/adminassets/images/button/delete.png" alt="Delete" width="13" height="13" /></a>
 *@                </td>
            </tr>
        }
    </tbody>
</table>

<ul class="pagination">
    @for (int i = 1; i <= ViewBag.pageNum; i++)
    {
        <li class="page-item" page="@i"      
        @(ViewBag.keyword != null ? "keyword=" + ViewBag.keyword : "")>
            <a class="page-link">@i</a>
        </li>
    }
</ul>