@model IEnumerable<Market.Models.Product>

<div class="col-sm-12 table-responsive">
<table class="table table-hover e-commerce-table" style="border-collapse: collapse; border-spacing: 20px;">
    <thead>
        <tr>
            <th class="text-nowrap">Mã sản phẩm</th>
            <th class="text-nowrap">Tên sản phẩm</th>
            <th class="text-nowrap">Danh mục</th>
            <th class="text-nowrap">Đơn vị tính</th>
            <th class="text-nowrap">Giá tiền</th>
            <th class="text-nowrap">Số lượng hàng</th>
            <th class="text-nowrap text-center">Trạng thái</th>
            <th class="text-nowrap">Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    <a class="d-flex align-items-center" asp-area="Admin" asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">

                        <img src="@Url.Content("~/img/product/" + item.Img)" class="img-fluid rounded" style="max-width: 60px" />
                        <h3 class="custom-productName m-b-0 m-l-10">@item.ProductName</h3>
                    </a>


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td class="text-center">
                    @* @item.StatusString *@
                    @if (item.Status == 1)
                    {
                        <div>
                            <div class="badge badge-success badge-dot m-r-10"></div>
                            <span>Đang kinh doanh</span>
                        </div>
                    }
                    else if (item.Status == 2)
                    {
                        <div>
                            <div class="badge badge-danger badge-dot m-r-10"></div>
                            <span>Ngừng kinh doanh</span>
                        </div>
                    }
                </td>

                <td class="text-center">
                    <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@item.ProductId"><i class="anticon anticon-edit"></i></a>
                        
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<ul class="pagination m-l-20 m-t-5">
    @for (int i = 1; i <= ViewBag.pageNum; i++)
    {
        <li class="active page-item" page="@i"
        @(ViewBag.s != null ? "s=" + ViewBag.s : "")
        @(ViewBag.cid != null ? "cid=" + ViewBag.cid : "")
        @(ViewBag.keyword != null ? "keyword=" + ViewBag.keyword : "")>
            <a class="page-link" style="border-radius: 5px;">@i</a>
        </li>
    }
</ul>

